@media(min-width: 1024px) {
	background-image:url("1234.jpg");
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('5.jpeg');
  background-size: 150px 200px;
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}
button {
  border: none;
}
button:hover {
  cursor: pointer;
}
.button{
border-radius: 75px;
  display: inline-block;
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: 5px;
  
  line-height: normal;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s ease;
}
.button:hover {
  opacity: 0.75;
}
.button-primary {
  background-color: #FEFDFC;
  color: #FFFFFF;
}
.button-secondary {
  background-color: #A1A1A1;
  color: #FFFFFF;
}
input {
  border-radius: 75px;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
  box-shadow: none;
  transition: border-color 0.5s ease;
  width: 75%;
}
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 20px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}


.hero {
	background-image: url('na.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 0px;
	text-shadow: 0 2px #ffffff;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}
.n{
  background-image:url("ng.jpg");
  width:100%;
  height:670px;
  background-repeat:no-repeat;
  background-size:cover;
}
.k{
  background-image:url("back.jpg");
  width:100%;
  height:670px;
  background-repeat:no-repeat;
  background-size:cover;
}
#footer {
	color: DarkSlateGray;
	font-size: 16px;
}

